*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
:root{
    --bg-color:#f45769;
    --second-bg-color:rgb(226, 97, 213);
    --text-color:rgb(255, 211, 243);
    --main-color:#efae09;
    --red:#f45769;
}
body{
    color: var(--text-color);
    background-color: #f45769;

}
.back-video{
    position: fixed;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 8%;
    background: rgba(0, 0, 0, 0.468);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-family: "satisfy";
    font-style: italic;
    font-size: 4rem;
    padding: 0.2rem 2rem;
    color: var(--red);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 0.1rem;
    background-color: rgba(32, 28, 24, 0.5);
    backdrop-filter: blur(25px);
    border:2px solid var(--red);
    box-shadow: 0 0 10px ;
  }
.logo:hover{
    color: var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color);
}  
span1{
    color: var(--red);
    font-family: "satisfy";
}
.navbar{
    margin-top: 1.6rem;
} 
.navbar a{
    font-size: 2.2rem;
    color: var(--text-color);
    margin-top: 5rem;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px soild var(--main-color);
    transition: 0.3s ease;
}
.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    text-shadow: 0 0 10px #ffbd7f;

}
section{
    min-height: 100vh;
    padding: 10rem 12%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;   
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-top: 15rem;
    /*text-shadow: 0 0 5px rgba(239, 207, 248, 0.723);*/
}
.home-content h1{
    font-family: "satisfy";
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 1;
    padding: 1.5rem 3rem;
    background-color: rgba(15, 11, 14, 0.797);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
  }
.home-content h3{
    font-family: "satisfy";
    font-size: 4rem;
    margin: 1rem 0;
    padding: 1.5rem 3rem;
    background-color: rgba(15, 11, 14, 0.797);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    
}
.home-content h1:hover{
    color: var(--main-color);
    cursor: pointer;   
}
.home-content h3:hover{
    color: var(--main-color);
    cursor: pointer;   
}
.social-icons{
    display: flex;
    margin-top:7.5rem;  
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 25%;
    color: var(--main-color);
    margin: 3rem 0.5rem 3rem 0;
    transition: 0.3s ease;
    
}
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 20px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    font-size: 1.8rem;
    color: rgb(35, 2, 31);
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--main-color),
                0 0 40px var(--main-color);               
}

.about{
    display: flex;
    justify-content: left;
    align-items: center;
    /*gap: 10rem;
    background-image: url(/images/secondbackground.jpg);*/

}
.second-background{
    position: fixed;
    background-position: center;
}

.about-content{
    background-color: #ffe2e2;
    padding: 4rem;
    color: var(--red);
    border-radius: 2rem;
}
.about-img img{
    width: 20vw;
    /*border-radius: 50%;*/
    box-shadow: 0 0 20px var(--red);
    transition: 0.4s ease-in-out;
    margin: 3rem;
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--red),
                0 0 45px var(--red);
                
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    color: rgb(7, 3, 6);
}
/*b{
    color: black;
}*/
.about-content .btn{
    margin: 3rem,0;
    background-color: var(--red);
    box-shadow:none;
}
.about-content .btn:hover{
    box-shadow: 0 0 20px var(--red);
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: pink;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact h2{
    margin-top: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 60vh;
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--red);
    background-color: #ffe2e2;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--red);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea{
    display: flex;
    width: 80vh;
    padding: 2.5rem;
    font-size: 1.6rem;
    color: black;
    background-color: #ffe2e2;
    border-radius: 2rem;
    border: 2px solid var(--red);
    margin: 1.5rem ;
    resize: none;
}
.contact form button{
    padding: 15px;
    background: var(--red);
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    margin-bottom: 2rem;
    border-radius: 30px;
}
.contact form button:hover{
    box-shadow: 0 0 20px var(--red);
}


.footer{
    background-color: rgba(77, 6, 31, 0.659);
    backdrop-filter: blur(10px);
    padding: 20px 5;
}
.footer .social-icons{
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer .copyright{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    padding-bottom: 15px;

}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media(max-width:1024px){
    #menu-icon{
        display: block;
        margin-top: 1.5rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
        
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active{
        display: block;

    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .about{
        flex-direction: column;
        text-align: left;
        margin: 3rem 0;
    }
    .about-img img{
        width: 50vw;
        text-align: center;
    }
    .about-content{
        align-items: center;
        
    }
    .contact h2{
        width: 40vh;
    }
    .contact form .input-box input,
     .contact form textarea{
        width: 35vh;
    }
}
